{% extends 'analytics/base.html' %}
{% load staticfiles %}
{% block main_content %}

<head>
    <!-- DataTables CSS -->
    <link href="{% static 'analytics/gentelella-master/vendors/datatables.net-bs/css/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'analytics/gentelella-master/vendors/datatables.net-responsive-bs/css/dataTables.responsive.css' %}" rel="stylesheet">
    <!-- DataTables JS -->
    <script src="{% static 'analytics/gentelella-master/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'analytics/gentelella-master/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'analytics/gentelella-master/vendors/datatables.net-responsive/js/dataTables.responsive.js' %}"></script>

</head>

<div align="center">
    <form id="frm_budgets" method="post" action="{% url 'analytics:budget_view' %}">
        {% csrf_token %}
        {% for field in form %}

            {{ hidden }} {{ field.label_tag }}
                {{ field }}
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
            <a href="/pearls/analytics/budget/add/" class = "btn btn-info btn-sm"
               role="button"   data-toggle="tooltip" title="Add new budget control"> <i class="glyphicon glyphicon-pencil"></i> </a>


    </form>
<hr>
</div>

{% if ds_summary|length > 0%}

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-bars"></i> Budget </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab1" class="nav nav-tabs bar_tabs right" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content11" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Account Category</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content22" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="profile" aria-expanded="false">Account</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content33" role="tab" id="profile-tabb3" data-toggle="tab" aria-controls="profile" aria-expanded="false">Account & Cost Center</a>
                </li>
              </ul>
              <div id="myTabContent2" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content11" aria-labelledby="home-tab">

                   <table id="dtbl" class="table table-striped table-bordered table-hover" width="100%">
                      <thead>
                        <tr>
                            <th>Company</th> <th>Category</th> <th>Status</th>
                            <th>Budget - {{year}} </th><th>Actual - {{prior_year}}</th> <th>Variance</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for rw in ds_category %}
                        <tr>
                        {% for item in rw %}
                            {%if forloop.counter == 4 or forloop.counter == 5 %}
                                <td align="right"> {{item}} </td>
                            {%elif forloop.counter == 6 %}
                                <td align="center"> {{item}}% </td>
                            {%elif forloop.counter == 3 %}
                                <td align="center"> {{item}} </td>
                            {% else %}
                                <td align="left"> {{item}} </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>



                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content22" aria-labelledby="profile-tab">


                    <table id="dtbl1" class="table table-striped table-bordered table-hover" width="100%">
                      <thead>
                        <tr>
                            <th>Company</th> <th>Account ID</th> <th>Account Name</th>
                            <th>Status</th> <th>Budget - {{year}} </th><th>Actual - {{prior_year}}</th> <th>Variance</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for rw in ds_summary %}
                        <tr>
                        {% for item in rw %}
                            {%if forloop.counter == 5 or forloop.counter == 6 %}
                                <td align="right"> {{item}} </td>
                            {%elif forloop.counter == 7 %}
                                <td align="center"> {{item}}% </td>
                            {%elif forloop.counter == 4 %}
                                <td align="center">  {{item}} </td>
                            {% else %}
                                <td align="left"> {{item}} </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content33" aria-labelledby="profile-tab">

                    <table id="dtbl2" class="table table-striped table-bordered table-hover" width="100%">
                      <thead>
                        <tr>
                            <th></th> <th>Company</th> <th>Account</th> <th>Account Name</th><th>Cost Center</th> <th>Status</th> <th>Budget - {{year}}</th><th>Actual - {{prior_year}}</th> <th>Variance</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for rw in ds_detail %}
                        <tr>
                        {% for item in rw %}
                            {%if forloop.counter == 1 %}
                                <td align="center">
                                    <a href="/pearls/analytics/budget/{{item}}/change/" data-toggle="tooltip"
                                       title="View Budget"> <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                </td>
                            {%elif forloop.counter == 7 or forloop.counter == 8 %}
                                <td align="right"> {{item}} </td>
                            {%elif forloop.counter == 9 %}
                                <td align="center"> {{item}}% </td>
                            {%elif forloop.counter == 6 %}
                                <td align="center"> {{item}} </td>
                            {% else %}
                                <td align="left"> {{item|safe}} </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
</div>


<script>

$(document).ready(function() {
	$('#dtbl').DataTable({
		responsive: true,
		lengthMenu: [[ 10, 15, 50, -1], [10,  15, 50, "All"]]
	});

	$('#dtbl1').DataTable({
		responsive: true,
		lengthMenu: [[ 10, 15, 50, -1], [10,  15, 50, "All"]]
	});

    $('#dtbl2').DataTable({
    responsive: true,
    lengthMenu: [[ 10, 15, 50, -1], [10,  15, 50, "All"]]
	});
});




</script>

{% endif %}
{% endblock %}


