{% extends 'crm/base.html' %}
{% load staticfiles %}


{% block main_content %}

<div class="row" style="padding:10px 50px 15px 50px;" align={% if user_profile.lang == 'en' %} "left" {% else %} "right" {% endif %}>
<h2> <u>{{title}} </u> </h2>
</div>
 <div class="row" align="center">
   <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left:0%;">
       <form  method="post" action="{% url 'crm:customer_status_rate_save' %}">
           {% csrf_token %}
           <table dir="{{user_profile.form_dir}}" style="margin-left:0%;">
               <input type="hidden" name="pk_id" id="pk_id" value="{{pk_id}}">
                {% for field in form %}
                    <tr>
                        {% if field.name == 'customer' %}
                            <input type="hidden" name="customer" value="{{customer_id}}">
                        {% elif 'fa fa-' in field.label_tag %}
                            <td ><label for="id_{{ field.name }}"> {{ field.label|safe }} </label></td>
                            <td>{{ field }}</td>
                            <td> <font  color="red">{{ field.errors}} </font> </td>
                        {% else %}
                            <td ><label for="id_{{ field.name }}"> {{ field.label_tag }} </label></td>
                            <td>{{ field }}</td>
                            <td> <font  color="red">{{ field.errors}} </font> </td>
                        {% endif %}
                     </tr>
                {% endfor %}
           </table>
           <div class="form-group">
               <div align="center" style="margin-top:10px;">
                   <input type="submit" class="btn btn-primary" value={% if user_profile.lang == 'en' %} "Save" {% else %} "حفظ" {% endif %}>
                   <a href="/crm/customers/{{customer_id}}/" class="btn btn-info"> {% if user_profile.lang == 'en' %} Back {% else %} رجوع {% endif %}</a>

               </div>
           </div>
       </form>
   </div>
</div>
<br>
<script>
 {% for f in hidden_fields %}
        document.getElementById("id_{{f}}").disabled = true;
 {% endfor %}
 </script>

{% endblock %}