{% load staticfiles %}

<head>
    <script src="{% static 'analytics/gentelella-master/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'analytics/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
</head>

 <table dir="{{user_profile.form_dir}}">
    {% for field in form %}
        <tr>
            {%if 'fa fa-' in field.label_tag %}
                <td ><label for="id_{{ field.name }}"> {{ field.label|safe }} </label></td>
            {% else %}
                <td ><label for="id_{{ field.name }}"> {{ field.label_tag }} </label></td>

            {% endif %}
            <td>{{ field }}</td>
            <td> <font  color="red">{{ field.errors}} </font> </td>

         </tr>
    {% endfor %}
 </table>
<script>
 {% for f in hidden_fields %}
        document.getElementById("id_{{f}}").disabled = true;
 {% endfor %}


{% for field in form %}
    {% if 'date' in field.name %}
        $(function() {
            $('input[name="{{field.name}}"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            },
            function(start, end, label) {
                var years = moment().diff(start, 'years');
            });
        });
    {% endif %}
    {% if 'time' in field.name %}
         $(function() {
            $('input[name="{{field.name}}"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 10,
                locale: {
                    format: 'YYYY-MM-DD H:mm'
                }
            },
            function(start, end, label) {
                var years = moment().diff(start, 'years');
            });
         });
    {% endif %}
 {% endfor %}






</script>




